@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons+Outlined');

:root {
    --color-success: #a6e3a1;
    --color-warning: #f9e2af;
    --color-danger: #f38ba8;
    --color-background: #1e1e2e;
    --color-foreground: #181825;
    --color-foreground-secondary: #151520;
    --color-font: #bac2de;
    --color-title-font: #74c7ec;
    --color-accent: #74c7ec;
}

body {
    background-color: var(--color-background);
    color: var(--color-font);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    color: var(--color-title-font);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}

.button {
    border-radius: 20px;
    background-color: var(--color-accent);
    color: var(--color-background);
    margin: 10px;
    padding: 20px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.button:hover {
    background-color: #68b1d3;
    cursor: pointer;
}

.button:active {
    background-color: #4a8fae;
}

.input {
    margin: 20px;
    border-radius: 20px;
    background-color: var(--color-foreground-secondary);
    color: var(--color-font);
    margin: 10px;
    padding: 20px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.input:focus {
    outline: none;
}

.status-icons {
    font-size: 200px;
}
.tracking-parent {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 80%;
    background-color: var(--color-foreground);
}

.tracking-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tracking-items {
    width: 80%;
    margin: 20px;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: var(--color-font);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.icon-large {
    font-size: 32px; /* Adjust the size as needed */
}
