@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons+Outlined');

:root {
    --color-success: #a6e3a1;
    --color-warning: #f9e2af;
    --color-danger: #f38ba8;
    --color-background: #1e1e2e;
    --color-foreground: #181825;
    --color-foreground-secondary: #151520;
    --color-font: #bac2de;
    --color-title-font: #74c7ec;
    --color-accent: #74c7ec;
}

body {
    background-color: var(--color-background);
    color: var(--color-font);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    color: var(--color-title-font);
    font-family: 'Chakra Petch', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-5%);
    transition: all 1s;
}

.shown {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.input-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button {
    border-radius: 20px;
    background-color: var(--color-accent);
    color: var(--color-background);
    margin: 10px;
    padding: 20px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.button:hover {
    background-color: #68b1d3;
    cursor: pointer;
}

.button:active {
    background-color: #4a8fae;
}

.input {
    margin: 20px;
    border-radius: 20px;
    background-color: var(--color-foreground-secondary);
    color: var(--color-font);
    margin: 10px;
    padding: 20px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.input:focus {
    outline: none;
}

.tracking-parent {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 80%;
    background-color: var(--color-foreground);
}

.tracking-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tracking-images img {
    border-radius: 40px;
    border: 20px solid var(--color-foreground-secondary);
    margin: 10px;
    overflow: hidden;
    display: block;
}

.tracking-items {
    width: 80%;
    margin: 20px;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: var(--color-font);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.item-date,
.item-description,
.item-location,
.item-status {
    display: flex;
    align-items: center;
    margin-top: -20px;
    margin-bottom: -20px; /* Adjust spacing between items */
}

.item-date .material-icons-outlined,
.item-description .material-icons-outlined,
.item-location .material-icons-outlined,
.item-status .material-icons-outlined {
    margin-right: 8px; /* Adjust the spacing between the icon and text */
}

a:link {
    color: var(--color-accent);
    text-decoration: none;
}

a:visited {
    color: var(--color-accent);
    text-decoration: none;
}

.credits {
    font-size: 12px;
}

nav {
    background-color: var(--color-foreground);
    color: var(--color-font);
    padding: 1rem;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.loading-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust as needed */
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid var(--color-font);
    animation: prixClipFix 2s linear infinite;
}
.loader::after {
    inset: 8px;
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: var(--color-accent);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    75%,
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
}

@media (hover: none), (hover: on-demand) and (pointer: coarse) {
    body {
        font-size: 32px;
    }

    .input-div {
        flex-direction: column;
    }

    .large-icons {
        display: none;
    }

    .tracking-parent {
        width: 95vw;
        font-size: 18px;
    }

    .tracking-items {
        width: 100vw;
        padding: 2px;
    }
    .item-date,
    .item-description,
    .item-location,
    .item-status {
        margin-bottom: -20px;
        margin-top: -20px;
    }

    .button {
        width: 90vw;
    }

    .input {
        width: 80vw;
    }

    .tracking-images img {
        width: 100vw;
    }
}
